.person-info {
  width: 375px;
  height: 100vh;
  background: rgba(250, 251, 251, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  & > mask {
    position: absolute;
    left: 0;
    top: 0;
  }
  & > text {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(119, 119, 119, 1);
    align-self: flex-start;
    margin-left: 35px;
    &:nth-of-type(1) {
      margin-top: 17px;
    }
    &:last-of-type {
      margin: 0;
      align-self: center;
      text-align: center;
      font-size: 14px;
      color: rgba(206, 206, 206, 1);
    }
  }
  input {
    width: 345px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    margin-bottom: 11px;
    margin-top: 2px;
    font-size: 17px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 20px;
  }
  .input-p {
    color: rgba(215, 215, 215, 1);
    font-weight: 400;
    font-size: 17px;
    font-family: PingFang SC;
  }
  button {
    width: 316px;
    height: 50px;
    background: rgba(154, 230, 199, 1);
    box-shadow: 0px 2px 4px 2px rgba(149, 216, 192, 0.1);
    border-radius: 16px;
    line-height: 50px;
    margin-top: 107px;
    &::after {
      border: none;
    }
    font-size: 17px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(99, 110, 113, 1);
  }
}
