.navigation {
  width: 375px;
  height: 64px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.03);
  font-size: 18px;
  font-weight: 600;
  font-family: PingFang SC;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  .arrow-box {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 8px;
    left: 0;
  }
  .arrow {
    width: 10px;
    height: 10px;
    opacity: 0.8;
    z-index: 2;
    &::after {
      content: '';
      width: 10px;
      height: 2px;
      border-radius: 2px;
      background: #9d9d9d;
      position: absolute;
      top: 50%;
      right: 0;
      transform-origin: 0 50%;
      transform: translate(0, -50%) rotate(45deg);
    }

    &::before {
      content: '';
      width: 10px;
      height: 2px;
      border-radius: 2px;
      background: #9d9d9d;
      position: absolute;
      top: 50%;
      right: 0;
      transform-origin: 0 50%;
      transform: translate(0, calc(-50% + 1.4px)) rotate(-45deg);
    }
  }
  .navigation-text {
    margin-bottom: 13px;
  }
}
